<div class="news">
  <h2>News</h2>
  {% if site.news %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign news = site.news | reverse %}
      {% assign total_news = news.size %}
      {% assign limited_news = news | slice: 0, site.news_limit %}
      
      {% for item in limited_news %}
        <tr>
          <th scope="row" style="width: 15%;">{{ item.date | date: "%b %-d, %Y" }}</th>
          <td style="width: 85%;">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}

      </table>
    </div>

    {% if total_news > site.news_limit %}
      <a href="javascript:void(0)" id="toggle-news" onclick="toggleNews()">Show more news</a>
      <div id="extra-news" style="display:none;">
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
          {% assign extra_news = news | slice: site.news_limit, total_news %}
          
          {% for item in extra_news %}
            <tr>
              <th scope="row" style="width: 15%;">{{ item.date | date: "%b %-d, %Y" }}</th>
              <td style="width: 85%;">
                {% if item.inline %}
                  {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                {% else %}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}

  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>

<script>
  function toggleNews() {
    var extraNews = document.getElementById("extra-news");
    var toggleLink = document.getElementById("toggle-news");
    if (extraNews.style.display === "none") {
      extraNews.style.display = "block";
      toggleLink.innerText = "Hide extra news";
    } else {
      extraNews.style.display = "none";
      toggleLink.innerText = "Show more news";
    }
  }
</script>